<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="star.liuwen.com.cash_books">

    <application
        android:name=".Base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_laun"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--日历-->
        <activity android:name=".Activity.CalendarActivity"/>
        <!--支出和收入-->
        <activity android:name=".Activity.IncomeAndCostActivity"/>
        <!--显示money页面-->
        <activity android:name=".Activity.PaymentActivity"/>
        <!--钱的设置页面-->
        <activity android:name=".Activity.PaySettingActivity"/>
        <!--修改的通用界面-->
        <activity android:name=".Activity.UpDateAccountCommonActivity"/>
        <!--存钱和账单总结的通用页面-->
        <activity android:name=".Activity.SaveMoneyActivity"/>
        <!--存钱计划-->
        <activity android:name=".Activity.PlanSaveMoneyActivity"/>
        <!--整理消费账单-->
        <activity android:name=".Activity.FixXiaofeiCheckActivity"/>
        <!--选择发卡行-->
        <activity android:name=".Activity.ChoiceIssuingBankActivity"/>
        <!--提醒记账页面-->
        <activity android:name=".Activity.RemindActivity"/>
        <!--新建存钱计划-->
        <activity android:name=".Activity.newSaveMoneyPlanActivity"/>
        <!--主题皮肤-->
        <activity android:name=".Activity.ChangeSkinActivity"/>
        <!--通用修改存钱计划页面-->
        <activity android:name=".Activity.UpDateSaveMoneyCommonActivity"/>
        <!--用户界面-->
        <activity android:name=".Activity.UserInfoActivity"/>
    </application>


</manifest>